html {
    font-family: Verdana;
    background-color: azure;
}

body {
  /*  saca estilos por defecto  */
  margin: 0;
  font-family: Avenir;
}

.header {
  display: flex;
  /*
  rem es una unidad de medida relativa
  al fontsize del elemento raiz (html),
  pero podes usar los pixeles que precises.
  */
  height: 4rem;
  background-color: dimgray;
  /*  Espacio a los costados, hay mejores formas
  de hacer esto */
  padding: 0 10%;
  align-items: center;
}

.header__icon {
  max-height: 4rem;
}

/* el naming viene de BEM
https://getbem.com/naming/
Block Element Modifier
block__element--modifier
 */
.header__left {
  /*  esto solo funciona en flex elements.  */
  margin-right: auto;
}

.header__right {
  margin-left: auto;
}

.header__nav {
  display: flex;
  list-style: none;
  align-items: center
}

/* los selectores css estan demas, este selecciona cualquier header__nav__item que este a la derecha de otr nav__item. Por eso todos tienen un margen. Por eso si inspeccionas home no tiene nada. */
.header__nav__item + .header__nav__item {
  margin-left: 6rem;
}
ul {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    margin:0;
    align-items: center;


}


li a {
    color: coral;
    font-family: 'Lucida Grande', Arial, sans-serif;
    width: 5rem;
    display: block;
    font-size: 1rem;


}

li a:hover {
    color:darkcyan;
    font-family: 'Lucida Grande', Arial, sans-serif;
    font-size: 1rem;

}

.titulo {
    text-align: center;
    padding-right: 25rem;
}

.center {
     display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px 8px 8px 8px;

    height: auto;
}

.texto {
  max-width: 600px;
  margin: 0 auto;
  word-wrap: break-word;
  line-height: 1.5em;
  white-space: normal;
  text-align: center;
    color: darkred;
    font-family: 'Consolas', 'Menlo', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', monospace;
    font-size: 1rem;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
    margin-right: 5rem;
     margin-left: 20rem;
}

.contact {
    flex: 1;
    margin-right: 20px;
}

h1 {
    margin-left: 20rem;
}

section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    flex: 200px;

    
    margin-left: 2rem;
}

article {
  flex: 1;

}

img {
    border-radius: 8px 8px 8px 8px;
    padding-left: 3rem;
}

.content {
  padding: 2rem 10%;
}

.row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.col {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: dimgray;
  height: 520px;
}

h2 {
    padding-left: 3rem;
}

p {
    padding-left: 3rem;
}

i {
  padding-left: 3rem;
}
.titulo2 {
    padding-left: 3rem;
}